<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:fragment="topnav" >
        <div class="logo"><a th:href="jacob.html"> <img th:src="../static/pictures/logo-removebg-preview.png" alt="Logo"></a></div>
        <nav class="top-nav">
            <ul>
                <li><a href="#top" class="active">Home</a></li>
                <li><a href="#ønsker">Ønsker</a></li>
                <li><a href="#ønskeliste">Ønskeliste</a></li>
                <li><a href="#login">Login</a></li>
                </li>
            </ul>
            </ul>
        </nav>

    </div>
</header>
<body>

</body>
</html>