@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
    }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 5rem;
    background: linear-gradient(180deg, #5caafc 0%, #ffffff 100%);
}
header img{
    width: 225px;
    height: 200px;
}

.top-nav {

}
.top-nav a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

.top-nav a:hover {
    color: #fddb3a;
    }
ul {
    display:flex;
    flex-direction: row;
}
li {
    list-style-type: none;
    margin-left: 3rem;
}
li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
li::after {
    content: '';
    width: 0rem;
    height: 0.15rem;
    background-color: #ffffff;
    display:block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}
li:hover::after{
    width: 2rem;

}
.trustpilot img {
    width: 150px;
    height: 100px;
}