<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create wish</title>
</head>
<body>
<div class="container">
    <table>
        <form action="createwish" method="post">


            <input id="wishListId-field" name="wishListId" type="hidden"><br>

            <input id="itemLineId-field" name="itemLineId" type="hidden"><br>

            <label for="ItemName-field">Navn på ønsket:</label>
            <input id="itemName-field" name="itemName" type="text"><br>

            <label for="itemQTY-field">Antal:</label>
            <input id="itemQTY-field" name="itemQTY" type="text"><br>

            <label for="itemDescreption-field">Beskrivelse:</label>
            <input id="itemDescreption-field" name="itemDescreption"><br>

            <label for="itemURL-field">Indsæt link:</label>
            <input id="itemURL-field" name="itemURL" type="text"><br>

            <label for="itemPrice-field">Pris:</label>
            <input id="itemPrice-field" name="itemPrice" type="text"><br>

            <input type="submit" value="Tilføj ønske"><br>
        </form>
    </table>

</div>
</body>
</html>