<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eksempel Jacob</title>
  <link rel="stylesheet" th:href="@{../css/jacob.css}" href="../static/css/jacob.css">
</head>
<header th:replace="~{fragments/fragment :: topnav}">

</header>
<body>
<h1>Velkommen til GOODWISH</h1>

<!--<div class="header">-->
<!--    <img th:src="@{../pictures/bluegifts.png}" alt="Gifts" src="../static/pictures/bluegifts.png" id="pic">-->
<!--</div>-->
<div class="trustpilot"><a href="https://r.mtdv.me/OsKBZZ4DYz"> <img th:src="@{../pictures/trustpilot.png}" src="../static/pictures/trustpilot.png" alt="Trustpilot 5/5"> </a></div>
</body>
</html>