<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eksempel Jacob</title>
  <link rel="stylesheet" th:href="@{../css/jacob.css}" href="../static/css/jacob.css">
</head>
<body>
<header>
<!--    <div class="header-container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
                <nav class="main-nav">
                    <a href="jacob.html" class="logo"> <img src="******" alt="Logo"></a>
<!--                    <a href="#top" class="active">Home</a>-->
<!--                    <a href="#ønsker">Ønsker</a>-->
<!--                    <a href="#ønskeliste">Ønskeliste</a>-->
<!--                    <a href="#pris">Pris</a>-->
<!--                    <a href="#nyhedsbrev">Nyhedsbrev</a>-->
<!--                    <div class="dot"></div>-->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#ønsker">Ønsker</a></li>
                        <li class="scroll-to-section"><a href="#ønskeliste">Ønskeliste</a></li>
                        <li class="scroll-to-section"><a href="#login">Login</a></li>
                        <li class="scroll-to-section"></li>
                        </li>
                        </ul>
                    </ul>
                </nav>
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</header>
</body>
</html>