<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/lotte.css" th:href="@{/css/lotte.css}">
</head>
<body>

<div>
    <header>
        <nav>
            <ul>
                <li>
                    <a id="wishes" href=""><img src="../static/pictures/wishes.png"></a>
                </li>
            </ul>
            <ul id="link">
                <li>
                    <a href="#">Forside</a>
                </li>
                <li>
                    <a href="#">Ønskelister</a>
                </li>
                <li>
                    <a href="#">Opret ønskeseddel</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>



    </div>


</div>



</body>
</html>