<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brugergrænse</title>
    <link rel="stylesheet" th:href="@{../css/jacob.css}" href="../static/css/jacob.css">
    <link rel="stylesheet" th:href="@{../css/showpages.css}" href="../static/css/showpages.css">
</head>

<body>
<header th:replace="~{fragments/fragment :: topnav}">

</header>
<div>
    <h2 th:text="'Velkommen '+${session.UserName}"></h2>
    <h3>Mine ønskelister</h3>
    <br>
    <br>
</div>
<table class="wishlist">
    <thead>
    <th>
        Navn
    </th>
    <th>
        Begivenhed
    </th>
    <th>
        <a th:href="@{/createwishlist}" href="/createwishlist">Opret ny ønskeliste</a>
    </th>
    </thead>
    <tbody>
    <tr th:each="wishlist : ${session.wishlists}">
    <td th:text="${wishlist.getWishListName()}"> </td>
    <td th:text="${wishlist.getOccation()}"></td>
    <td> <a  th:href="@{'/showwishes/'+${wishlist.getWishListId()}}" href="/showwishes"> Se ønskeliste</a>  </td>
    <td><a th:href="@{'/updatewishlist/'+${wishlist.getWishListId()}}" href="/updatewishlist">Opdater ønskeliste</a></td>
    <td><a th:href="@{'/deletewishlist/'+${wishlist.getWishListId()}}" href="/delete/">Slet ønskeliste</a></td>
    </tr>
    </tbody>

</table>
<div class="imgbox">
<img class="center-fit" th:src="@{../pictures/bluegifts.png}" src="../static/pictures/bluegifts.png" alt="gaver">
</div>
</body>
</html>