<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønsker</title>
    <link rel="stylesheet" th:href="@{../css/fragment.css}" href="../static/css/fragment.css">
    <link rel="stylesheet" th:href="@{../css/showpages.css}" href="../static/css/showpages.css">

</head>
    <header th:replace="~{fragments/fragment :: topnav}">
    </header>

<body>
<div>
    <div>
        <h1>Ønsker</h1>
        <br>
        <div class="center">
            <a th:href="@{/createwish}" href="/createwish" class="button4" >Opret ønske</a>
        </div>
        <br>
<!--        <h4><a  th:href="@{/createwish}" href="createwish.html">Opret nyt ønske</a></h4>-->
    </div>

    <table>
        <thead>
        <th>Ønskeliste id</th>
        <th>Ønske id</th>
        <th>Navn</th>
        <th>Antal</th>
        <th>Beskrivelse</th>
        <th>Link</th>
        <th>Pris</th>
        </thead>

        <tbody>
        <tr th:each="wishItems : ${showWishes}">
<!--            <td th:text="${wishItems.wishListId}"></td>-->
<!--            <td th:text="${wishItems.itemLineId}"></td>-->
            <td th:text="${wishItems.itemName}"></td>
            <td th:text="${wishItems.itemQTY}"></td>
            <td th:text="${wishItems.itemDescription}"></td>
            <td th:text="${wishItems.itemURL}"></td>
            <td th:text="${wishItems.itemPrice}"></td>
            <td>
                <a th:href="@{'/updatewish/' + ${wishItems.itemLineId}}" href="/updatewish.html">Opdater ønske</a>
            </td>
            <td>
                <a th:href="@{'/deletewish/' + ${wishItems.itemLineId}}" href="/deletewish.html">Slet ønske</a>
            </td>
        </tr>

        </tbody>

    </table>

</div>



</body>
</html>