<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{../css/fragment.css}" href="../static/css/fragment.css">
  <link rel="stylesheet" th:href="@{../css/inputfields.css}" href="../static/css/inputfields.css">
</head>
<header th:replace="~{fragments/fragment :: topnav}">
</header>
<body class="image">
<div class="update-wl-container">
  <div class="text">
    <h1>Opdater ønskeliste</h1>
  </div>
    <form action="/updatewishlist" method="post">
      <div class="page">

          <input id="wishListId-field" name="wishListId" type="text" th:value="${wishList.getWishListId()}" ><br>

        <div class="field field_v2">
          <label for="WishListName-field" class="ha-screen-reader">Navn på ønskeliste</label>
          <input id="WishListName-field" class="field__input" placeholder="e.g. De bedste ønsker" name="WishListName" type="text" th:value="${wishList.getWishListName()}" ><br>
          <span class="field__label-wrap" aria-hidden="true">
            <span class="field__label">Navn på ønskeliste</span>
          </span>
        </div>

        <div class="field field_v2">
          <label for="occation-field" class="ha-screen-reader">Begivenhed</label>
          <input id="occation-field" class="field__input" placeholder="e.g. Fødselsdag" name="occation" type="text" th:value="${wishList.getOccation()}" ><br>
          <span class="field__label-wrap" aria-hidden="true">
            <span class="field__label">Begivenhed</span>
          </span>
        </div>

          <input id="userId-field" name="userId" type="text" th:value="${session.UserID}" ><br>

          <input class="submit" type="submit" value="Opdater ønskeliste"><br>
      </div>
    </form>

</div>
</body>
</html>